@model List<Exam>


<section class="SchoolClass">
	<div class="header">
		<h3>Exam</h3>
		<a asp-action="create">Add New Exam</a>
	</div>

	<div class="table container">
		<div class="search-box">
			<input type="text" id="search" placeholder="Search..." />
		</div>

		<table>
			<thead>
				<tr>
					<th>Lesson Code</th>
					<th>Lesson Name</th>
					<th>Date</th>
					<th>Class</th>
					<th>Teacher</th>
					<th>Student Count</th>
					<th>Status</th>
					<th style="width: 10%">Actions</th>
				</tr>
			</thead>
			<tbody id="table-body">

				@foreach (var exam in Model)
				{
					<tr>
						<td>@exam.Lesson.LessonCode</td>
						<td>@exam.Lesson.LessonName</td>
						<td>@exam.Date</td>
						<td>@exam.Lesson.SchoolClass.Class</td>
						<td>@(exam.Lesson.SchoolClass.Teacher.Name + " " + exam.Lesson.SchoolClass.Teacher.Surname)</td>
						<td>@exam.Lesson.SchoolClass.Students?.Count()</td>
						<td>@(exam.Status ? "Was held" : "Was not held")</td>

						<td class="actions">
							@if (exam.Status){
								<a asp-action="Detail" asp-route-id="@exam.Id" title="SchoolClass Detail">
									<i class="fa-solid fa-circle-info"></i>
								</a>
								
							}else{
								<a asp-controller="ExamResult" asp-action="Detail" asp-route-id="@exam.Id" title="Exam Result">
									<i style="color:green" class="fa-solid fa-file-circle-check"></i>
								</a>
							}
						
							<a class="delete-button" asp-controller="ExamResult" asp-action="Index" asp-route-id="@exam.Id" title="Exam Delete">
								<i class="fa-solid fa-trash-can"></i>
							</a>
						</td>
					</tr>
				}

			</tbody>
		</table>

		<div class="pagination">
			<button class="page-btn" id="prev-btn">
				<i class="fa-solid fa-angle-left"></i>
			</button>
			<span id="page-numbers"></span>
			<button class="page-btn" id="next-btn">
				<i class="fa-solid fa-angle-right"></i>
			</button>
		</div>
	</div>
</section>

@section Script {
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
				$(document).on("click", ".delete-button", function(e) {
			e.preventDefault();
			let url = $(this).attr("href");

			Swal.fire({
				title: "Are you sure?",
				text: "You won't be able to revert this!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, delete it!"
			}).then((result) => {
				if (result.isConfirmed) {
					Swal.fire({
						title: "Deleted!",
						text: "Your file has been deleted.",
						icon: "success"
					}).then(() => {
						window.location.href = url;
					});
				}
			});
		});

	</script>
}